@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html, body{
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-size: 15vw;
    color: black;
    text-align: center;
    height: 100vw;
    width: 100VW;
}

.fullbox{

    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

#clock{
    height: 100%;
    z-index: 0;
}

#weather{
    height: 50%;
    text-align: center;
    z-index: 1; 
}

#temperature{
    height: 50%;
    text-align: center;
    z-index: 2;
}
